<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <div th:fragment="tags">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
        <script type="text/javascript" th:src="@{/js/form.js}" defer></script>
        <script type="text/javascript" th:src="@{/js/sheet.js}" defer></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- JQuery js1 -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" type="text/javascript"></script>
    </div>
    <title>Document</title>
</head>

<body>
    <div class="navbarDiv" th:fragment="navBar">
        <div class="hamburger" onclick="toggleNav()">
            <ion-icon name="list-outline"></ion-icon>
        </div>
        <nav class="navhide">
            <div class="logo">
                <ion-icon name="logo-buffer"></ion-icon>
            </div>
            <ul>
                <li class="list">
                    <a th:href="@{/profile}">
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Account</span>
                    </a>
                </li>
                <li class="list active">
                    <a th:href="@{/home}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a th:href="@{/applicantProcess}">
                        <span class="icon">
                            <ion-icon name="walk-outline"></ion-icon>
                        </span>
                        <span class="title">Process</span>
                    </a>
                </li>
                <li class="list">
                    <a th:href="@{/team}">
                        <span class="icon">
                            <ion-icon name="create-outline"></ion-icon>
                        </span>
                        <span class="title">Resources</span>
                    </a>
                </li>
                <li class="list" sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/admin/addUser}">
                        <span class="icon">
                            <ion-icon name="desktop-outline"></ion-icon>
                        </span>
                        <span class="title">Admin Panel</span>
                    </a>
                </li>
                <li class="list">
                    <a th:href="@{/marketing}">
                        <span class="icon">
                            <ion-icon name="pricetag-outline"></ion-icon>
                        </span>
                        <span class="title">Marketing</span>
                    </a>
                </li>
                <li class="list">
                    <a onclick="generateLogoutForm()">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:fragment="sideNav" class="sideResources">
        <a class="resource" data-name="user" href="#">
            <ion-icon name="person-circle-outline"></ion-icon>
        </a>
        <a class="resource" data-name="position" th:href="@{/jobposition}">
            <ion-icon name="ribbon-outline"></ion-icon>
        </a>
        <a class="resource" data-name="team" th:href="@{/team}">
            <ion-icon name="people-outline"></ion-icon>
        </a>
        <a class="resource" data-name="department" th:href="@{/department}">
            <ion-icon name="business-outline"></ion-icon>
        </a>
        <a class="resource" data-name="jobpost" th:href="@{/jobPost}">
            <ion-icon name="document-text-outline"></ion-icon>
        </a>
        <a class="resource" data-name="recruitment resource" th:href="@{/recruitementresource}">
            <ion-icon name="ear-outline"></ion-icon>
        </a>
    </div>

    <div th:fragment="hamburger" class="hamburgerBox">
        <a href="/home/homepage">...</a>/<a href="/home/homepage">...</a>/<a href="/home/homepage">Home</a>/<a
            href="/home/homepage">Control</a>
    </div>

    <div th:fragment="setting" class="settingBox">
        <ion-icon name="sunny-outline"></ion-icon>
        <div class="themeBox">
            <label class="checkBoxContainer">Default
                <input type="radio" value="default" id="default" name="radio" class="chooseTheme">
                <span class="checkmark"></span>
            </label>
            <label class="checkBoxContainer">Orangy
                <input type="radio" value="orangy" id="orangy" name="radio" class="chooseTheme">
                <span class="checkmark"></span>
            </label>
            <label class="checkBoxContainer">Techno
                <input type="radio" value="techno" id="techno" name="radio" class="chooseTheme">
                <span class="checkmark"></span>
            </label>
            <label class="checkBoxContainer">Hacker
                <input type="radio" value="hacker" id="hacker" name="radio" class="chooseTheme">
            </label>
            <label class="checkBoxContainer">Orangy
                <input type="radio" value="orangy" name="radio" class="chooseTheme">
                <span class="checkmark"></span>
            </label>
            <label class="checkBoxContainer">Techno
                <input type="radio" value="techno" name="radio" class="chooseTheme">
                <span class="checkmark"></span>
            </label>
            <label class="checkBoxContainer">Hacker
                <input type="radio" value="hacker" name="radio" class="chooseTheme">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</body>

</html>