<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p th:text="${message}"></p>
<h3>Add New Applicant</h3>
	<div>
		<form th:action="@{/saveapplicant}" th:object="${applicant}"
			method="post">
			<input type="text" placeholder="Enter Name"
				th:field="*{applicantName}" /><br> <input type="text"
				placeholder="Enter Email" th:field="*{applicantEmail}" /><br> <input
				type="text" placeholder="Enter Mobile" th:field="*{applicantMobile}" /><br>
			<input type="text" placeholder="Enter Address" th:field="*{address}" /><br>
			<input type="text" placeholder="Enter Link" th:field="*{link}" /><br>
			<label class="col-md-2 col-form-label"> Select JobPost Name</label> <select
				class="form-select" aria-label="Recruitement Type" id="type"
				th:field="*{jobPostBean}">
				<option th:each=" i : ${jobPostList} " th:value="${i.postId}"
					th:text="${i.postName}"></option>
			</select><br> <label class="col-md-2 col-form-label"> Select
				Applied Position</label> <select class="form-select"
				aria-label="Recruitement Type" id="type"
				th:field="*{jobPositionBean}">
				<option th:each=" i : ${positionList} " th:value="${i.positionId}"
					th:text="${i.positionName}"></option>
			</select><br> <input type="submit" value="Add">
		</form>
	</div>
	<h3>List All Applicants</h3>
	<div>
		<table class="table table-striped table-hover table-bordered">
			<tr>
				<th>Id</th>
				<th><a
					th:href="@{'/searchApplicants/' + ${currentPage} + '?sortField=applicantCode&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
						Code </a></th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Link</th>
				<th>Current State</th>
				<th>Status</th>
				<th>JobPostName</th>
				<th>Applied Date</th>
				<th>Applied Position</th>
				<th>Comment</th>
				<th>Action</th>
			<tr th:each="applicant: ${list}">
				<td th:text="${applicant.applicantId}" />
				<td th:text="${applicant.applicantCode}" />
				<td th:text="${applicant.applicantName}" />
				<td th:text="${applicant.applicantEmail}" />
				<td th:text="${applicant.applicantMobile}" />
				<td th:text="${applicant.address}" />
				<td th:text="${applicant.link}" />
				<td th:text="${applicant.currentState}" />
				<td th:text="${applicant.applicantStatus}" />
				<td th:text="${applicant.jobPost.postName}" />
				<td th:text="${applicant.applyTime}" />
				<td th:text="${applicant.jobPosition.positionName}" />
				<td th:text="${applicant.comment}"/>
				<td><a th:href="@{/editapplicant(id=${applicant.applicantId})}">Action</a></td>
			</tr>
		</table>
	</div>
	<div>
		Total Positions: [[${totalPositions}]] - Page [[${currentPage}]] of [[${totalPages}]]
		&nbsp; - &nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/searchApplicants/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		
		<a th:if="${currentPage > 1}" th:href="@{'/searchApplicants/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${i != currentPage}" th:href="@{'/searchApplicants/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}">[[${i}]]</a> 
			<span th:unless="${i != currentPage}">[[${i}]]</span>
			&nbsp;&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/searchApplicants/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/searchApplicants/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
	</div>
</body>
</html>