<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- form start -->
	<div>
		<form th:action="@{/applicantStatusChange}" th:object="${bean}" method="post">
			<!-- form data start -->
			<div>
				<input type="hidden" th:field="*{applicantId}" />
				<div>
					<label>Name</label>
					<input type="text" th:field="*{applicantName}" />
				</div>
				<div>
					<label>Email</label>
					<input type="text" th:field="*{applicantEmail}" />
				</div>
				<div>
					<label>Mobile</label>
					<input type="text" th:field="*{applicantMobile}" />
				</div>
				<div>
					<label>Address</label>
					<input type="text" th:field="*{address}" />
				</div>
				<div>
					<label>Link</label>
					<input type="text" th:field="*{link}" />
				</div>
				<div>
					<label>Current State</label>
					<input type="text" th:field="*{currentState}" />
				</div>
				<div>
					<label>Status</label>
					<input type="text" th:field="*{applicantStatus}" />
					<span> => </span>
					<input type="text" name="nextStatus" th:value="${nextStatus}"/>
				</div>
				<div>
					<label>Job Post Name</label>
					<input type="text" th:field="*{jobPostBean}" />
				</div>
				<div>
					<label>Applied Position</label>
					<input type="text" th:field="*{jobPositionBean}" />
				</div>
				<div>
					<label>Applied Date</label>
					<input type="text" th:field="*{applyTime}" />
				</div>
				<div>
					<div>
						<label>Comment</label>
					</div>
					<textarea rows="5" cols="50" th:field="*{comment}"></textarea>
				</div>
			</div>
			<!-- form data end -->
			<!-- check box start -->
			<div>
				<span>Pass</span>
				<input type="radio" name="checkStatus" th:value="'Pass'" checked> <span> | </span>
				<span>Fail</span>
				<input type="radio" name="checkStatus" th:value="'Fail'">
			</div>
			<!-- check box end -->
			<!-- status select box start -->
			<div>
				<select name="getStatus">
					<option th:value="'Code Test'" th:selected="${nextStatus == 'Code Test'}">Code Test</option>
					<option th:value="'Intro Interview'" th:selected="${nextStatus == 'Intro Interview'}">Intro Interview</option>
					<option th:value="'Second Interview'" th:selected="${nextStatus == 'Second Interview'}">Second Interview</option>
					<option th:value="'Job Offer'" th:selected="${nextStatus == 'Job Offer'}">Job Offer</option>
					<option th:value="'Hired'" th:selected="${nextStatus == 'Hired'}">Hired</option>
				</select>
			</div>
			<!-- status select box start -->
			<!-- button start -->
			<div>
				<button type="submit">Save</button>
			</div>
			<!-- button end -->
		</form>
	</div>
	<!-- form end -->
</body>
</html>