<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<!-- message start -->
	<div>
		<p th:text="${msg}"></p>
		<p th:text="${error}"></p>
	</div>
	<!-- message end -->
	<!-- navbar start -->
	<div>
		<div>
			<a th:href="@{'/applicantProcess'}">All</a>
		</div>
		<div>
			<a th:href="@{'/applicantPro/1/' + ${ct} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Code Test</a>
		</div>
		<div>
			<a th:href="@{'/applicantPro/1/' + ${ii} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Intro Interview</a>
		</div>
		<div>
			<a th:href="@{'/applicantPro/1/' + ${si} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Second Interview</a>
		</div>
		<div>
			<a th:href="@{'/applicantPro/1/' + ${jo} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Job offer</a>
		</div>
		<div>
			<a th:href="@{'/applicantPro/1/' + ${h} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Hired</a>
		</div>
	</div>
	<!-- navbar end -->
	
	<!-- show applicant result start -->
	<div>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>Address</th>
					<th>Link</th>
					<th>Current State</th>
					<th>Status</th>
					<th>Job Post Name</th>
					<th>Applied Position</th>
					<th>Applied Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody th:each="data : ${applicants} ">
				<tr>
					<td th:text="${data.applicantId}"></td>
					<td th:text="${data.applicantName}"></td>
					<td th:text="${data.applicantEmail}"></td>
					<td th:text="${data.applicantMobile}"></td>
					<td th:text="${data.address}"></td>
					<td th:text="${data.link}"></td>
					<td th:text="${data.currentState}"></td>
					<td th:text="${data.applicantStatus}"></td>
					<td th:text="${data.jobPost.postName}"></td>
					<td th:text="${data.jobPosition.positionName}"></td>
					<td th:text="${data.applyTime}"></td>
					<td th:if="${data.currentState != 'Pass' and data.currentState != 'Fail'}"><a th:href="@{/nextProcess(id=${data.applicantId})}">Next</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- show applicant result end -->
	<!-- paging start -->
	<div>
		Total Applicants: [[${totalApplicants}]] - Page [[${currentPage}]] of [[${totalPages}]]
		&nbsp; - &nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/applicantPro/1/' + ${keyword} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		
		<a th:if="${currentPage > 1}" th:href="@{'/applicantPro/' + ${currentPage - 1} + '/' + ${keyword} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${i != currentPage}" th:href="@{'/applicantPro/' + ${i} + '/' + ${keyword} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a> 
			<span th:unless="${i != currentPage}">[[${i}]]</span>
			&nbsp;&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/applicantPro/' + ${currentPage + 1} + '/' + ${keyword} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/applicantPro/' + ${totalPages} + '/' + ${keyword} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
	</div>
	<!-- paging end -->
</body>
</html>