<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Direct Applicant</title>
</head>
<body>
	<p th:text="${msg}"></p>
	
	<!-- job post information start  -->
	<div>
		<div>
			<label>JobPostName : </label>
			<span th:text="${jobPost.postName}"></span>
		</div>
		<div>
			<label>JobPost Position</label>
			<span th:text="${jobPost.jobPosition.positionName}"></span>
		</div>
		<div>
			<label>Post Date : </label>
			<span th:text="${jobPost.postDate}"></span>
		</div>
		<div>
			<label>Due Date : </label>
			<span th:text="${jobPost.dueDate}"></span>
		</div>
	</div>
	<!-- job post information end  -->
	<h3>Add New Applicant</h3>
	<div>
		<form th:action="@{/saveApplicants}" method="post" encType="multipart/form-data" th:object="${jobPost}">
			<input type="hidden" name="id" th:field="*{postId}">
			<input type="text" placeholder="Enter Name" name="name" required/><br> 
			<input type="email" placeholder="Enter Email" name="email" required/><br>
			<input type="text" placeholder="Enter Mobile" name="mobile" required/><br> 
			<textarea rows="5" cols="24" name="address" required placeholder="Enter Address"></textarea><br>
			<input type="text" placeholder="Enter Link" name="link" required/><br>
			<textarea rows="5" cols="24" name="comment" placeholder="Write Comment" required></textarea><br>
			
			<input type="file" name="file" multiple required/>
				
			<br> <input type="submit" value="Add">
		</form>
	</div>
</body>
</html>