<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- message form start -->
	<div>
		<p>We will be sending a reset password link to your email.</p>
	</div>
	<div th:if="${error != null}">
		<p>[[${error}]]</p>
	</div>
	<div th:if="${message != null}">
		<p>[[${message}]]</p>
	</div>
	<!-- message form start -->
	<!-- form start -->
	<div>
		<form th:action="@{/forgotPassword}" method="post">
			<div>
				<input type="email" name="email" placeholder="Enter user email" required autofocus />
			</div>
			<div>
				<input type="submit" value="Send">
			</div>
		</form>
	</div>
	<!-- form end -->
</body>
</html>