<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Department Action</title>
	<div th:insert="../components/nav :: tags"></div>
</head>

<body>

	<p class="errornoti" th:text="${message}"></p>

	<nav th:insert="../components/nav :: navBar"></nav>
	<div th:insert="../components/nav :: sideNav"></div>

	<button class="back_button">
		<a th:href="@{/department}"><ion-icon name="arrow-back-outline"></ion-icon></a>
	</button>

	<div th:if="${!#lists.isEmpty(teams)}">
		<div>This department has </div>
		<div th:each="team : ${teams}">
			<a th:href="@{/updateTeam(id=${team.teamId})}" th:text="${team.teamName}"></a>
		</div>
	</div>

	<div class="updateform">
		<form data-formName="Edit Department" th:action="@{/updateDepartment}" method="post" th:object="${department}">
			<input type="hidden" th:field="*{departmentId}" />
			<input type="hidden" name="oldName" th:value="${department.departmentName}" />

			<div>
				<label for="name">Name</label> <input type="text" th:field="*{departmentName}"
					placeholder="Enter Department Name" />
				<label th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}"
					style="color: red;">Error</label>
			</div>
			<div>
				<input type="submit" value="Update" />
			</div>
		</form>
		<div class="deleteBox">
			<button onclick="deleteform()">Delete</button>
		</div>
	</div>

	<div class="confirmationModal deleteConfirmationModal" style="display: none;">
		<div class="modalBox">
			<button onclick="deleteformclose()">
				<ion-icon name="close-outline"></ion-icon>
			</button>
			<h2>Delete ?</h2>
			<p>Are u sure u want to delete <b th:text="${department.departmentName}"></b> ?</p>
			<div class="modalButtonBox">
				<a th:href="@{/deleteDepartment(id=${department.departmentId})}">Yes <ion-icon
						name="sad-outline"></ion-icon></a>
				<a onclick="deleteformclose()">No <ion-icon name="happy-outline"></ion-icon></a>
			</div>
		</div>
		<div class="backgroundExit" onclick="deleteformclose()"></div>
	</div>

	<script type="text/javascript" th:src="@{/js/form.js}"></script>
</body>

</html>