<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>Add Department</h3>
	<h3 th:text="${message}"></h3>
	<div>
		<form th:action="@{/saveDepartment}" method="post" th:object="${department}">
			
			<div>
				<label for="name">Name</label> <input type="text"  
					th:field="*{departmentName}" placeholder="Enter Department Name" required="required"/>
				<label th:if="${#fields.hasErrors('departmentName')}"
					th:errors="*{departmentName}" style="color: red;">Error</label>
			</div>
			<div> 
				<input type="submit" value="Add"  />
			</div>

		</form>
	</div>
	
	<div>
		<form th:action="@{/searchDepartment/1}" th:object="${department}">
		<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			<input type="text" name="keyword" th:value="${keyword}" placeholder="Enter Keyword"  />
			<input type="submit" value="Search" />
			<button><a th:href="@{/department}">Reset</a></button>
		</form>
	</div>
	
	<div>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Code</th>
					<th>Name</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dept : ${depts}">
					<td th:text="${dept.departmentId}"></td>
					<td th:text="${dept.departmentCode}"></td>
					<td th:text="${dept.departmentName}"></td>
					<td><a th:href="@{/updateDepartment(id=${dept.departmentId})}">Action</a></td>
					</tr>
				
			</tbody>
		</table>
	</div>
	
	<div>
		Total Users: [[${totalUsers}]] - Page [[${currentPage}]] of [[${totalPages}]]
		&nbsp; - &nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/searchDepartment/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		
		<a th:if="${currentPage > 1}" th:href="@{'/searchDepartment/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${i != currentPage}" th:href="@{'/searchDepartment/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}">[[${i}]]</a> 
			<span th:unless="${i != currentPage}">[[${i}]]</span>
			&nbsp;&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/searchDepartment/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/searchDepartment/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
	</div>
	<script type="text/javascript">
		function clearFilter() {
			window.location = '/department';
		}
	</script>
</body>
</html>