<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/updateresource}" th:object="${resource}" method="post">
<input type="hidden" th:field="*{resourceId}"><br>
<label>Name</label><input type="text" th:field="*{resourceName}" /><br><br>
<label>Link</label><input type="text" th:field="*{link}" ><br><br>
<label>Address</label><input type="text" th:field="*{address}"><br><br>
<label>Mobile</label><input type="text" th:field="*{resourceMobile}"><br><br>
<label>ContactPerson</label><input type="text" th:field="*{contactPerson}"><br><br>
<label>RecruitementType</label><input type="text" th:field="*{recruitementType}"><br><br>
<input type="submit" th:value="Update">
<a th:href="@{/deleteresource(id=${resource.resourceId})}">Delete</a>
<a th:href="@{/recruitementresource}">Back</a>
</form>
</body>
</html>