<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3 th:text="${message}"></h3>
<form th:action="@{/updatejobposition}" th:object="${jobposition}" method="post">
<input type="hidden" th:field="*{positionId}">
<input type="text" th:field="*{positionName}">
<input type="hidden" th:value="${jobposition.positionName}" name="oldName"/>
<input type="submit" th:value="Update">
<a th:href="@{/deletejobposition(id=${jobposition.positionId})}">Delete</a>
<a th:href="@{/jobposition}">Back</a>
</form>
</body>
</html>