<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Home</title>
<div th:insert="../components/nav :: tags"></div>
</head>
<body>
	<div th:insert="../components/nav :: navBar"></div>

	<div class="jobPostSection">
		<div class="jobPostSearch">
			<h2>Job Posts</h2>
			<div>
				<input type="text" name="jobpost">
				<input type="submit" value="Search">
			</div>
		</div>
		<div class="jobPostContainer">
			<!-- Jobpost -->
			<div class="jobPost">
				<div class="jobPostHeader">
					<h4>Senior Developer Needed</h4>
					<div class="dateContainer">
						<span>2023-02-15</span>
						<span>2023-02-22</span>
					</div>
				</div>
				<p class="jobPostComment">
					We need a person with skill profficient in Java developement
				</p>
				<div class="jobPostFooter">
					<p><span>Team 1</span> from <span>Department 1</span></p>
					<!-- Input function with sheet parameter eg. onclick='func(..link in here)' -->
					<button>Get Data</button>
				</div>
			</div>

		</div>
	</div>
	<div class="applicantSection">
		<div class="applicantBox">
			<h3>Data for <span>Senior Developer</span></h3>
			<div class="applicantContainer">
				<div class="applicantCard">
					<img th:src="@{images/profile.png}" alt="">
					<div class="applicantInfo">
						<h3>Thar Htet Zan</h3>
						<p><ion-icon name="mail-outline"></ion-icon> thahtetzan@gmail.com</p>
						<p><ion-icon name="phone-portrait-outline"></ion-icon> 09441428181</p>
						<p><ion-icon name="earth-outline"></ion-icon>No 69, DagonThiri Street, Kyauk Myaung, Tamwe, Yangon</p>
						<div class="applicantButtonContainer">
							<!-- insert drive link in here -->
							<a href="#">
								<ion-icon name="eye-outline"></ion-icon>
							</a>
							<!-- to add the applicant to the table -->
							<a href="#">
								<ion-icon name="person-add-outline"></ion-icon>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>