<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<div th:insert="../components/nav :: tags"></div>
</head>

<body>
	<div th:insert="../components/nav :: navBar"></div>

	<div class="jobPostSection">

		<form class="searchForm" th:action="@{/searchPostedJobPost}" method="post">
			
			<h2>Job Posts</h2>
			<input type="text" name="keyword" th:value="${keyword}" placeholder="Enter Keyword" />

			<div>
				<input type="date" name="startDate" th:value="${startDate}" />
				<input type="date" name="endDate" th:value="${endDate}" />
			</div>

			<button type="submit">
				<ion-icon name="search-outline"></ion-icon>
			</button>
			<button>
				<a th:href="@{/home}">
					<ion-icon name="refresh-outline"></ion-icon>
				</a>
			</button>
		</form>

		<div class="pendingPostSection">
			<div class="jobPostsCantainer">
				<div class="jobPostCard" th:each="jp : ${jobPosts}">
					<input type="hidden" th:class="J+${jp.postId}" th:value="${jp.postName}">
					<img th:src="'https://api.dicebear.com/5.x/shapes/svg?seed='+${jp.postCode}+''">
					<div class="jobPostStatus">
						<p th:text="${jp.postStatus}"></p>
						<span class="focyes" th:if="${jp.foc == true}"></span>
						<span class="focno" th:if="${jp.foc == false}"></span>
					</div>
					<p class="jobPostCode" th:text="${jp.postCode}"></p>
					<div class="jobPostInfo">
						<p>
							<span>Name</span> <span th:text="${jp.postName}"></span>
						</p>
						<p>
							<span>Position</span><span th:text="${jp.jobPosition.positionName}"></span>
						</p>
						<p>
							<span>Comment</span> <span th:text="${jp.comment}"></span>
						</p>
						<div>
							<p>
								<ion-icon name="people-outline"></ion-icon>
								<span th:text="${jp.team.teamName}"></span>
							</p>
							<p>
								<ion-icon name="business-outline"></ion-icon>
								<span th:text="${jp.team.department.departmentName}"></span>
							</p>
						</div>
					</div>
	
					<div class="jobPostFooterM">
						<p>Need
							<span th:text="${jp.count}"></span>
						</p>
						<a th:onclick="retrieveSheetData([[${jp.sheetId}]],[[${jp.postId}]]);">
							<ion-icon name="checkmark-done-outline"></ion-icon>Get Data
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="applicantSection">
		<div class="applicantBox">
			<h3 class="titleForApplicants">No Data</h3>
			<div class="applicantContainer">
				<div class="applicantsLoading">
					<ion-icon name="cloud-download-outline"></ion-icon>
				</div>
				<!-- Applicant card generated here -->
			</div>
		</div>
	</div>

	<!-- <div class="addApplicantBox">
		<form class="addApplicant">
			<h2>Add Applicant</h2>
			<div>
				<div>
					<input data-name="Name" type="text" value="" placeholder="Name" required="required">
					<input data-name="Email" type="email" value="" placeholder="Email" required="required">
					<input data-name="Mobile" type="number" value="" placeholder="Mobile" required="required">
					<input data-name="Address" type="text" value="" placeholder="Address" required="required">
				</div>
				<div>
					<textarea data-name="link" cols="30" rows="2" placeholder="link" readonly="readonly"></textarea>
					<input type="file" name="" id="" required="required">
					<textarea data-name="comment" cols="30" rows="4" placeholder="Comment"></textarea>
				</div>
			</div>
			<input type="submit" value="Add to database">
		</form>
		<div class="backgroundExit" onclick=""></div>
	</div> -->
</body>

</html>