<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>User Login</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>

<body>
	<p class="errornoti" th:text="${msg}"></p>
	<p class="errornoti" th:text="${error}"></p>

	<div class="box">
        <form class="loginform" th:action="@{/j_spring_security_check}" method="POST">
            <h2>Recruiza</h2>
            <div class="inputBox">
				<input type="email" name="email" th:value="${email}" required="required">
                <span>Username</span><i></i>
            </div>
            <div class="inputBox">
                <input type="password" id="passwordbox" name="password" th:value="${password}" title="double click to show password" required="required" ondblclick="showPassword(this.id)">
                <span>Password</span><i></i>
            </div>
            <div class="links">
                <a href="#">Forgot password</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>