<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Job Post</title>

	<div th:insert="../components/nav :: tags"></div>
</head>

<body>
	<p class="errornoti" th:text="${message}"></p>

	<div th:insert="../components/nav :: navBar"></div>
	<div th:insert="../components/nav :: sideNav"></div>

	<div class="addForm jobPostAddForm">
		<img class="backImage" th:src="'https://api.dicebear.com/5.x/shapes/svg?seed='+${jobPost.postCode}+''" alt="">
		<form class="addNewJobPost" data-formName="Add Job Post" th:action="@{/saveJobPost}" method="post"
			th:object="${jobPost}">
			<div>
				<div>
					<label>Name</label>
					<input type="text" th:field="*{postName}" placeholder="Enter Job Post Name" required />
				</div>
				<div>
					<label for="count">Count</label>
					<input type="number" th:field="*{count}" placeholder="Enter Count" min="1" max="10" required />
				</div>
				<div>
					<label for="comment">Comment</label>
					<textarea rows="1" th:field="*{comment}" placeholder="Enter Comment"></textarea>
				</div>
				<div>
					<label for="foc">FOC</label>
					<input type="checkbox" th:field="*{foc}" />
				</div>
			</div>
			<div>
				<div>
					<label for="teams">Select Department</label>
					<select id="departmentSelect" name="departmentId" onchange="getTeams();">
						<option th:each="d : ${departmentList}" th:value="${d.departmentId}"
							th:text="${d.departmentName}">
						</option>
					</select>
				</div>
				<div>
					<label for="teams">Select Team</label>
					<select id="teamSelect" th:field="*{teamBean}">
					</select>
				</div>

				<div>
					<label for="position">Select Job Position</label>
					<select th:field="*{jobPositionId}">
						<option th:each="p : ${positionList}" th:value="${p.positionId}" th:text="${p.positionName}">
						</option>
					</select>
				</div>

				<div style="display: none;">
					<label for="resource">Select Recruitment Resource</label>
					<select th:field="*{resourceId}">
						<option th:each="r : ${resourceList}" th:value="${r.resourceId}" th:text="${r.resourceName}">
						</option>
					</select>
				</div>

				<div>
					<input type="submit" value="Add" />
				</div>
			</div>
		</form>
		<div class="backgroundExit" onclick="generateTeamBox()"></div>
	</div>

	<!-- <div class="addNewApplicantForm show">
		<img class="backImage" th:src="'https://api.dicebear.com/5.x/shapes/svg?seed='+${jobPost.postCode}+''" alt="">
		<form th:action="@{/saveApplicants}" data-formName="Add Applicant" method="post" encType="multipart/form-data" th:object="${jobPost}">
			<div>
				<input type="hidden" name="id" th:field="*{postId}">
				<input type="text" placeholder="Enter Name" name="name" required/>
				<input type="email" placeholder="Enter Email" name="email" required/>
				<input type="text" placeholder="Enter Mobile" name="mobile" required/>
				<textarea rows="3" cols="24" name="address" required placeholder="Enter Address"></textarea>
				<input type="text" placeholder="Enter Link" name="link" required/>
				<textarea rows="5" cols="24" name="comment" placeholder="Write Comment" required></textarea>
				<input type="file" name="file" multiple required/>
				<input type="submit" value="Add">
			</div>
		</form>
		<div class="backgroundExit" onclick="generateAddNewApplicantForm()"></div>
	</div> -->

	<div class="data-section">
		<form class="searchForm" th:action="@{/searchJobPost/1}">
			<h2>
				<ion-icon name="people-outline"></ion-icon>
				Job Posts
				<span>[[${totalJobPosts}]]</span>
			</h2>
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			<input type="text" name="keyword" th:value="${keyword}" placeholder="Enter Keyword" />
			<select name="postStatus">
				<option th:each="status : ${postStatusList}" th:value="${status}"
					th:selected="(${status} == *{postStatus})" th:text="${status}"></option>
			</select>

			<button type="submit">
				<ion-icon name="search-outline"></ion-icon>
			</button>
			<button>
				<a th:href="@{/jobPost}">
					<ion-icon name="refresh-outline"></ion-icon>
				</a>
			</button>
			<button type="button" onclick="generateTeamBox()">
				<a>
					<ion-icon name="add-outline"></ion-icon>
				</a>
			</button>
		</form>

		<div class="chartContainer">

			<div class="chartData">
				<span class="chart-name1">Pending</span>
				<span class="agencyCount" th:text="${totalPending}"></span>
			</div>
			<div class="chartData">
				<span class="chart-name2">Posted</span>
				<span class="universityCount" th:text="${totalPosted}"></span>
			</div>
			<div class="chartData">
				<span class="chart-name3">Dued</span>
				<span class="directRecruitCount" th:text="${totalClosed}"></span>
			</div>
			<div class="chartData">
				<span class="chart-name4">Closed</span>
				<span class="trainingCenterCount" th:text="${totalDued}"></span>
			</div>
			<div class="chartData">
				<span class="chart-name5">Others</span>
				<span class="othersCount" th:text="${totalResourcesByOthers}"></span>
			</div>
			<div>
				<canvas id="myChart"></canvas>
			</div>
		</div>

		<div class="resourceContainer">
			<div class="sort-box" th:if="${totalJobPosts > 0}">
				<div class="sort-links">
					<a class="sort-button"
						th:href="@{'/searchJobPost/' + ${currentPage} + '?sortField=' + ${sortField} + '&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != null ? '&postStatus=' + postStatus : '' }}">
						Code
					</a>
					<a class="sort-button"
						th:href="@{'/searchJobPost/' + ${currentPage} + '?sortField=postName&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != null ? '&postStatus=' + postStatus : '' }}">
						Name
					</a>
				</div>
				<div class="sort-button" th:if="${jobPosts != null}">
					<a th:href="@{/recruizareport}">Get Report</a>
				</div>
			</div>

			<div class="data-card jobPostCardo" th:each="jp : ${jobPosts}">

				<img class="backImage" th:src="'https://api.dicebear.com/5.x/shapes/svg?seed='+${jp.postCode}+''"
					alt="">

				<div class="data-card-head">
					<div>
						<div class="data-status" th:switch="${jp.postStatus}">
							<p th:case="'CLOSED*'" class="closed">CLOSED</p>
							<p th:case="'CLOSED'" class="dued">DUED</p>
							<p th:case="'POSTED'" class="posted">OPEN</p>
							<p th:case="*" class="none">NONE</p>
						</div>
						<div class="focyes" th:if="${jp.foc == true}"></div>
						<div class="focno" th:if="${jp.foc == false}"></div>
					</div>

					<p class="data-code" th:text="${jp.postCode}"></p>
				</div>
				<div class="jobPostInfo">
					<p>
						<span>Name</span> <span th:text="${jp.postName}"></span>
					</p>
					<p>
						<span>Position</span><span th:text="${jp.jobPosition.positionName}"></span>
					</p>
					<p>
						<span>Comment</span> <span th:text="${jp.comment}"></span>
					</p>
					<div>
						<p>
							<ion-icon name="people-outline"></ion-icon>
							<span th:text="${jp.team.teamName}"></span>
						</p>
						<p>
							<ion-icon name="business-outline"></ion-icon>
							<span th:text="${jp.team.department.departmentName}"></span>
						</p>
					</div>
					<div>
						<p>
							<ion-icon name="time-outline"></ion-icon>
							<span th:text="${jp.postDate}"></span>
						</p>
						<p>
							<ion-icon name="timer-outline"></ion-icon>
							<span th:text="${jp.dueDate}"></span>
						</p>
					</div>
				</div>
				<div class="data-card-footer">
					<div>
						<a th:href="'https://docs.google.com/spreadsheets/d/'+${jp.sheetId}+''" target="_blank">
							<ion-icon name="cloudy-outline"></ion-icon>
						</a>
						<div>
							<img th:src="'https://api.dicebear.com/5.x/micah/svg?seed='+${jp.user.userName}+''" alt="">
							<p th:text="${jp.user.userName}"></p>
						</div>
						<div>
							<ion-icon name="person-outline"></ion-icon>
							<p th:text="${jp.count}"></p>
						</div>
						<div>
							<ion-icon name="mail-unread-outline"></ion-icon>
							<p th:text="${countMap.get(jp.postId)}"></p>
						</div>
					</div>
					<div class="data-buttons">
						<div th:if="${jp.postStatus == 'PENDING'}">
							<a th:href="@{/updateJobPost(jobPostId=${jp.postId})}">
								<ion-icon name="create-outline"></ion-icon>
							</a>
						</div>
						<div th:if="${jp.postStatus == 'POSTED'}">
							<!-- <a th:href="@{/applicant(jobPostId=${jp.postId})}"> -->
							<a th:onclick="generateAddNewApplicantForm([[${jp.postId}]],[[${jp.postCode}]]);">
								<ion-icon name="person-add-outline"></ion-icon>
							</a>
						</div>
						<div th:if="${jp.postStatus == 'POSTED'}">
							<a th:href="@{/closeJobPost(jobPostId=${jp.postId})}">
								<ion-icon name="lock-closed-outline"></ion-icon>
							</a>
						</div>
						<div th:if="${jp.postStatus == 'CLOSED*'}">
							<a th:href="@{/openJobPost(jobPostId=${jp.postId})}">
								<ion-icon name="lock-open-outline"></ion-icon>
							</a>
						</div>
						<div>
							<a th:href="@{'/jobPostReport/' + ${jp.postId}}">
								<ion-icon name="document-text-outline"></ion-icon>
							</a>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- pagination -->
		<div class="newPagination" th:if="${totalJobPosts > 0}">
			<div>
				<a th:if="${currentPage > 1}"
					th:href="@{'/searchJobPost/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != '' ? '&postStatus=' + postStatus : '' }}">
					<ion-icon name="play-skip-back-outline"></ion-icon>
				</a>
				<span th:unless="${currentPage > 1}">
					<ion-icon name="play-skip-back-outline"></ion-icon>
				</span>

				<a th:if="${currentPage > 1}"
					th:href="@{'/searchJobPost/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != '' ? '&postStatus=' + postStatus : '' }}">
					<ion-icon name="chevron-back-outline"></ion-icon>
				</a>
				<span th:unless="${currentPage > 1}">
					<ion-icon name="chevron-back-outline"></ion-icon>
				</span>

				<p>
					[[${currentPage}]] - [[${totalPages}]]
				</p>

				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<a th:if="${i != currentPage}"
						th:href="@{'/searchJobPost/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}  + ${postStatus != '' ? '&postStatus=' + postStatus : '' }">[[${i}]]</a>
					<span th:unless="${i != currentPage}">[[${i}]]</span>
				</span>

				<a th:if="${currentPage < totalPages}"
					th:href="@{'/searchJobPost/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != '' ? '&postStatus=' + postStatus : '' }}">
					<ion-icon name="chevron-forward-outline"></ion-icon>
				</a>
				<span th:unless="${currentPage < totalPages}">
					<ion-icon name="chevron-forward-outline"></ion-icon>
				</span>

				<a th:if="${currentPage < totalPages}"
					th:href="@{'/searchJobPost/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != '' ? '&postStatus=' + postStatus : '' }}">
					<ion-icon name="play-skip-forward-outline"></ion-icon>
				</a>
				<span th:unless="${currentPage < totalPages}">
					<ion-icon name="play-skip-forward-outline"></ion-icon>
				</span>
			</div>
		</div>
	</div>


</body>

</html>