<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3 th:text="${message}"></h3>
<br>
		<h2>Add New JobPosition</h2>
<div>
<form th:action="@{/savejobposition}" method="post" th:object="${jobposition}">

	<label>Name</label><input type="text" th:field="*{positionName}" /><br><br>
	<input type="submit" th:value="Add">
</form>
</div>
<br>
<div>
<form th:action="@{/searchjobposition}" th:object="${jobposition}" method="post">
	<input type="text" name="name" placeholder="searchjobposition">
	<input type="submit" th:value="Search">
</form>
</div>
<div>
	<center>
		<h2>List All JobPosition</h2>
	</center>
	<table class="table table-striped table-hover table-bordered">
		<tr>
		<th>JobPosition Id</th>
		<th>JobPositon Code</th>
		<th>Name</th>
		<th>Action</th>
<tr th:each="position: ${list}">
<td th:text="${position.positionId}" />
<td th:text="${position.positionCode}" />
<td th:text="${position.positionName}" />
<td><a th:href="@{/editjobposition(id=${position.positionId})}">Action</a></td>
</tr>
</table>
</div>
<div>
<a th:if="${currentPage > 1 }" th:href="@{/previouspositionpage(currentPage=${currentPage})}"><span>Previous</span></a>
<input type="text" th:value="${currentPage}">
<a th:if="${currentPage < totalPages}" th:href="@{/nextpositionpage(currentPage=${currentPage})}"><span>Next</span></a>
</div>
</body>
</html>