<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Job Post</title>

	<div th:insert="../components/nav :: tags"></div>
</head>

<body>
	<p class="errornoti" th:text="${message}"></p>

	<div th:insert="../components/nav :: navBar"></div>
	<div th:insert="../components/nav :: sideNav"></div>

	<div>
		<form th:action="@{/saveJobPost}" method="post" th:object="${jobPost}">
			<div>
				<label for="name">Name</label>
				<input type="text" th:field="*{postName}" placeholder="Enter Job Post Name" required />
				<label th:if="${#fields.hasErrors('postName')}" th:errors="*{postName}"
					style="color: red;">Error</label>
			</div>

			<div>
				<label for="count">Count</label>
				<input type="number" th:field="*{count}" placeholder="Enter Count" min="1" max="10" required />
				<label th:if="${#fields.hasErrors('count')}" th:errors="*{count}" style="color: red;">Error</label>
			</div>

			<div>
				<label for="comment">Comment</label>
				<textarea rows="1" th:field="*{comment}" placeholder="Enter Comment"></textarea>
				<label th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" style="color: red;">Error</label>
			</div>

			<div>
				<label for="foc">FOC</label> <input type="checkbox" th:field="*{foc}" /> <label
					th:if="${#fields.hasErrors('foc')}" th:errors="*{foc}" style="color: red;">Error</label>
			</div>

			<div>
				<label for="teams">Select Department</label> <select id="departmentSelect" name="departmentId"
					onchange="getTeams();">
					<option th:each="d : ${departmentList}" th:value="${d.departmentId}" th:text="${d.departmentName}">
					</option>
				</select>
			</div>

			<div class="teamBox">
				<label for="teams">Select Team</label>
				<select id="teamSelect" th:field="*{teamBean}">
				</select>
			</div>

			<div>
				<label for="resource">Select Recruitement Resource</label> <select th:field="*{resourceId}">
					<option th:each="r : ${resourceList}" th:value="${r.resourceId}" th:text="${r.resourceName}">
					</option>
				</select>
			</div>

			<div>
				<label for="position">Select Job Position</label> <select th:field="*{jobPositionId}">
					<option th:each="p : ${positionList}" th:value="${p.positionId}" th:text="${p.positionName}">
					</option>
				</select>
			</div>

			<div>
				<input type="submit" value="Add" />
			</div>
		</form>
	</div>

	<div class="searchBox">
		<h2>Job Post</h2>
		<form th:action="@{/searchJobPost/1}">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			<input type="text" name="keyword" th:value="${keyword}" placeholder="Enter Keyword" />

			<div>
				<label for="status">Select Status</label>
				<select name="postStatus">
					<option th:each="status : ${postStatusList}" th:value="${status}"
						th:selected="(${status} == *{postStatus})" th:text="${status}"></option>
				</select>
			</div>

			<button type="submit">Search</button>
			<button><a th:href="@{/jobPost}">Reset</a></button>

		</form>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>
						<a class="sort-button"
							th:href="@{'/searchJobPost/' + ${currentPage} + '?sortField=' + ${sortField} + '&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != null ? '&postStatus=' + postStatus : '' }}">
							Code<ion-icon name="funnel-outline"></ion-icon>
						</a>
					</th>
					<th>
						<a class="sort-button"
							th:href="@{'/searchJobPost/' + ${currentPage} + '?sortField=postName&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != null ? '&postStatus=' + postStatus : '' }}">
							Name<ion-icon name="funnel-outline"></ion-icon>
						</a>
					</th>
					<th>
						Count
					</th>
					<th>Post Date</th>
					<th>Due Date</th>
					<th>Comment</th>
					<th>FOC</th>
					<th>Team</th>
					<th>Recruitment Resource</th>
					<th>Job Position</th>
					<th>User</th>
					<th>Sheet ID</th>
					<th>Status</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="jp : ${jobPosts}">
					<td th:text="${index + jpStat.index}"></td>
					<td th:text="${jp.postCode}"></td>
					<td th:text="${jp.postName}"></td>
					<td th:text="${jp.count}"></td>
					<td th:text="${jp.postDate}"></td>
					<td th:text="${jp.dueDate}"></td>
					<td th:text="${jp.comment}"></td>
					<td th:text="${jp.foc}"></td>
					<td th:text="${jp.team.teamName}"></td>
					<td th:text="${jp.resource.resourceName}"></td>
					<td th:text="${jp.jobPosition.positionName}"></td>
					<td th:text="${jp.user.userName}"></td>
					<td th:text="${jp.sheetId}"></td>
					<td th:text="${jp.postStatus}"></td>
					<td>
						<div>
							<div th:if="${jp.postStatus == 'PENDING'}">
								<a th:href="@{/updateJobPost(jobPostId=${jp.postId})}">Action</a>
							</div>
							<a th:href="@{/applicant(jobPostId=${jp.postId})}">Add Applicant</a>
							<div th:if="${jp.postStatus == 'POSTED'}">
								<a th:href="@{/closeJobPost(jobPostId=${jp.postId})}"><button>Close</button></a>
							</div>

						</div>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

	<div class="pagination">
		<div>Total Job Posts: <span class="pagenum">[[${totalJobPosts}]]</span> - Page <span
				class="pagenum">[[${currentPage}]]
			</span>of <span class="pagenum">[[${totalPages}]]</span></div>

		<div class="page-reference">
			<a th:if="${currentPage > 1}"
				th:href="@{'/searchJobPost/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != '' ? '&postStatus=' + postStatus : '' }}">First</a>
			<span th:unless="${currentPage > 1}">First</span>

			<a th:if="${currentPage > 1}"
				th:href="@{'/searchJobPost/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != '' ? '&postStatus=' + postStatus : '' }}"><ion-icon
					name="chevron-back-circle-outline"></ion-icon></a>
			<span th:unless="${currentPage > 1}"><ion-icon name="chevron-back-circle-outline"></ion-icon></span>

			<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				<a th:if="${i != currentPage}"
					th:href="@{'/searchJobPost/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}  + ${postStatus != '' ? '&postStatus=' + postStatus : '' }">[[${i}]]</a>
				<span th:unless="${i != currentPage}">[[${i}]]</span>
			</span>

			<a th:if="${currentPage < totalPages}"
				th:href="@{'/searchJobPost/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != '' ? '&postStatus=' + postStatus : '' }}"><ion-icon
					name="chevron-forward-circle-outline"></ion-icon></a>
			<span th:unless="${currentPage < totalPages}"><ion-icon
					name="chevron-forward-circle-outline"></ion-icon></span>

			<a th:if="${currentPage < totalPages}"
				th:href="@{'/searchJobPost/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${postStatus != '' ? '&postStatus=' + postStatus : '' }}">Last</a>
			<span th:unless="${currentPage < totalPages}">Last</span>
		</div>
	</div>
</body>

</html>