<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marketing</title>
	<div th:insert="../components/nav :: tags"></div>
</head>

<body>
	<p class="errornoti" th:text="${message}"></p>

	<div th:insert="../components/nav :: navBar"></div>

	<div class="pendingPostSection">
		<div class="pendingPostHead">
			<h3>Pending Job Posts</h3>
			<div>
				Total <span th:text="${pendingJobPosts.size()}"></span>
			</div>
		</div>
		<div class="jobPostsCantainer">
			<div class="jobPostCard" th:each="jp : ${pendingJobPosts}">
				<img th:src="'https://api.dicebear.com/5.x/shapes/svg?seed='+${jp.postCode}+''">
				<div class="jobPostStatus">
					<div class="data-status" th:switch="${jp.postStatus}">
						<p th:case="'CLOSED*'" class="closed">CLOSED</p>
						<p th:case="'CLOSED'" class="dued">DUED</p>
						<p th:case="'POSTED'" class="posted">OPEN</p>
						<p th:case="*" class="none">NONE</p>
					</div>
					<div class="focyes" th:if="${jp.foc == true}"></div>
					<div class="focno" th:if="${jp.foc == false}"></div>
				</div>
				<p class="jobPostCode" th:text="${jp.postCode}"></p>
				<div class="jobPostInfo">
					<p>
						<span>Name</span> <span th:text="${jp.postName}"></span>
					</p>
					<p>
						<span>Position</span><span th:text="${jp.jobPosition.positionName}"></span>
					</p>
					<p>
						<span>Comment</span> <span th:text="${jp.comment}"></span>
					</p>
					<div>
						<p>
							<ion-icon name="people-outline"></ion-icon>
							<span th:text="${jp.team.teamName}"></span>
						</p>
						<p>
							<ion-icon name="business-outline"></ion-icon>
							<span th:text="${jp.team.department.departmentName}"></span>
						</p>
					</div>
				</div>

				<div class="jobPostFooterM">
					<p>Need
						<span th:text="${jp.count}"></span>
					</p>
					<a th:onclick="generateUpdateRoleFormJP([[${jp.postId}]],[[${jp.postName}]],[[${jp.count}]]);">
						<!-- <a th:href="@{/postJP(jobPostId=${jp.postId})}"> -->
						<ion-icon name="checkmark-done-outline"></ion-icon>POST
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="pendingPostSection postedPostSection">
		<div class="pendingPostHead">
			<h3>Posted Job Posts</h3>
			<div>
				Total <span th:text="${postedJobPosts.size()}"> </span>
			</div>
		</div>

		<form class="searchForm" th:action="@{/market/showJobPosts/1}">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			<input type="text" name="keyword" th:value="${keyword}" placeholder="Enter Keyword" />

			<button type="submit">
				<ion-icon name="search-outline"></ion-icon>
			</button>
			<button>
				<a th:href="@{/market/marketing}">
					<ion-icon name="refresh-outline"></ion-icon>
				</a>
			</button>
		</form>
		<div class="chartContainer">

			<div class="chartData">
				<span class="chart-name1">Pending</span>
				<span class="agencyCount" th:text="${totalPending}"></span>
			</div>
			<div class="chartData">
				<span class="chart-name2">Posted</span>
				<span class="universityCount" th:text="${totalPosted}"></span>
			</div>
			<div class="chartData">
				<span class="chart-name3">Closed</span>
				<span class="directRecruitCount" th:text="${totalClosed}"></span>
			</div>
			<div class="chartData">
				<span class="chart-name4">Dued</span>
				<span class="trainingCenterCount" th:text="${totalDued}"></span>
			</div>
			<div class="chartData">
				<span class="chart-name5">Others</span>
				<span class="othersCount" th:text="${totalResourcesByOthers}"></span>
			</div>
			<div>
				<canvas id="myChart"></canvas>
			</div>
		</div>
		<div class="jobPostsCantainer postedJobPostsContainer">
			<div class="jobPostCard" th:each="jp : ${postedJobPosts}">
				<img th:src="'https://api.dicebear.com/5.x/shapes/svg?seed='+${jp.postCode}+''">
				<div class="jobPostStatus">
					<div class="data-status" th:switch="${jp.postStatus}">
						<p th:case="'CLOSED*'" class="closed">CLOSED</p>
						<p th:case="'CLOSED'" class="dued">DUED</p>
						<p th:case="'POSTED'" class="posted">OPEN</p>
						<p th:case="*" class="none">NONE</p>
					</div>
					<div class="focyes" th:if="${jp.foc == true}"></div>
					<div class="focno" th:if="${jp.foc == false}"></div>
				</div>
				<p class="jobPostCode" th:text="${jp.postCode}"></p>
				<div class="jobPostInfo">
					<p>
						<span>Name</span> <span th:text="${jp.postName}"></span>
					</p>
					<p>
						<span>Position</span><span th:text="${jp.jobPosition.positionName}"></span>
					</p>
					<p>
						<span>Comment</span> <span th:text="${jp.comment}"></span>
					</p>
					<div>
						<p>
							<ion-icon name="people-outline"></ion-icon>
							<span th:text="${jp.team.teamName}"></span>
						</p>
						<p>
							<ion-icon name="business-outline"></ion-icon>
							<span th:text="${jp.team.department.departmentName}"></span>
						</p>
					</div>
				</div>

				<div class="jobPostFooterM">
					<p>Need
						<span th:text="${jp.count}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="newPagination">
			<div>
				<a th:if="${currentPage > 1}"
					th:href="@{'/market/showJobPosts/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
				<span th:unless="${currentPage > 1}">First</span>

				<a th:if="${currentPage > 1}"
					th:href="@{'/market/showJobPosts/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
				<span th:unless="${currentPage > 1}">Previous</span>

				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<a th:if="${i != currentPage}"
						th:href="@{'/market/showJobPosts/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}">[[${i}]]</a>
					<span th:unless="${i != currentPage}">[[${i}]]</span>
				</span>

				<a th:if="${currentPage < totalPages}"
					th:href="@{'/market/showJobPosts/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
				<span th:unless="${currentPage < totalPages}">Next</span>

				<a th:if="${currentPage < totalPages}"
					th:href="@{'/market/showJobPosts/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
				<span th:unless="${currentPage < totalPages}">Last</span>
			</div>
		</div>
	</div>
</body>

</html>