<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
	<div th:insert="../components/nav :: tags"></div>
</head>
<body>
	<div th:insert="../components/nav :: navBar"></div>
	<div th:insert="../components/nav :: sideNav"></div>

    <div class="profileContainer">
        <div class="profileBox">
                <p data-name="UserId">USR0012345</p>
                <p data-name="Username">username</p>
                <p data-name="Email">email</p>
                <p data-name="Phone Number">09441428181</p>
                <p data-name="Role">Admin</p>
            </div>
        </div>

        <div class="historyContainer">
            <div class="historyRow">
                <p class="historyDetails">
                    <span>User</span>
                    <span>Added</span>
                    <span>Data</span>
                    in
                    <span>Data Table</span>
                </p>
                <h4>2023-02-22 14:01:57</h4>
            </div>
        </div>
    </div>
</body>
</html>