<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <div th:insert="../components/nav :: tags"></div>
</head>

<body>
    <div th:insert="../components/nav :: navBar"></div>
    <div th:insert="../components/nav :: sideNav"></div>

    <section class="userAccount">
        <h2>User Info</h2>
        <div class="profileContainer">
            <div class="profileBox">
                <p data-name="UserId">USR0012345</p>
                <p data-name="Username">username</p>
                <p data-name="Email">email</p>
                <p data-name="Phone Number">09441428181</p>
                <p data-name="Role">Admin</p>
                <img th:src="@{images/Qrcode/testQr.png}" alt="">
                <button>
                    <ion-icon name="create-outline"></ion-icon>
                </button>
            </div>
        </div>

        <div class="historyContainer">
            <h2>History</h2>
            <div class="historyRow">
                <p class="historyDetails">
                    <span>User</span>
                    <span>Added</span>
                    <span>Data</span>
                    in
                    <span>Data Table</span>
                </p>
                <h5>2023-02-22 14:01:57</h5>
            </div>

            <div class="historyRow">
                <p class="historyDetails">
                    <span>User</span>
                    <span>tried to add</span>
                    <span>Data</span>
                    in
                    <span>Department Table</span>
                </p>
                <h5>2023-02-22 14:01:57</h5>
            </div>
            
            <div class="historyRow">
                <p class="historyDetails">
                    <span>User</span>
                    <span>tried to add</span>
                    <span>Data</span>
                    in
                    <span>Department Table</span>
                </p>
                <h5>2023-02-22 14:01:57</h5>
            </div>
        </div>
    </section>
</body>

</html>