<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Add New RecruitementResource</h3>
<div>
<form th:action="@{/saveresource}" method="post" th:object="${resource}">
<label>Name</label><input type="text" th:field="*{resourceName}" /><br><br>
<label>Link</label><input type="text" th:field="*{link}" ><br><br>
<label>Address</label><input type="text" th:field="*{address}"><br><br>
<label>Mobile</label><input type="text" th:field="*{resourceMobile}"><br><br>
<label>ContactPerson</label><input type="text" th:field="*{contactPerson}"><br><br>
<label>RecruitementType</label><input type="text" th:field="*{recruitementType}"><br><br>
<input type="submit" th:value="Add">
</form>
</div>
<div>
<form th:action="@{/searchresource}" th:object="${resource}" method="post">
	<input type="text" name="name" placeholder="searchresource">
	<input type="submit" th:value="Search">
</form>
</div>
<div>
<center>
		<h2>List All Recruitement Resource</h2>
	</center>
	<table class="table table-striped table-hover table-bordered">
		<tr>
		<th>Resource Id</th>
		<th>Resource Code</th>
		<th>Resource Name</th>
		<th>Link</th>
		<th>Address</th>
		<th>Mobile</th>
		<th>Contact Person</th>
		<th>Recruitement Type</th>
		<th>CreatedTime</th>
		<th>Action</th>
<tr th:each="resource : ${list}">
<td th:text="${resource.resourceId}" />
<td th:text="${resource.resourceCode}" />
<td th:text="${resource.resourceName}" />
<td th:text="${resource.link}" />
<td th:text="${resource.address}" />
<td th:text="${resource.resourceMobile}"/>
<td th:text="${resource.contactPerson}"/>
<td th:text="${resource.recruitementType}"/>
<td th:text="${resource.resourceCreatedTime}"/>
<td><a th:href="@{/editresource(id=${resource.resourceId})}">Action</a></td>
</tr>
</table>
</div>
<div>
<a th:if="${currentPage > 1 }" th:href="@{/previousresourcepage(currentPage=${currentPage})}"><span>Previous</span></a>
<input type="text" th:value="${currentPage}">
<a th:if="${currentPage < totalPages}" th:href="@{/nextresourcepage(currentPage=${currentPage})}"><span>Next</span></a>
</div>
</body>
</html>