<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Team</title>
	<div th:insert="../components/nav :: tags"></div>
</head>

<body>
	<p class="errornoti" th:text="${message}"></p>
	<p class="errornoti">There has been an error somewhere in this page</p>

	<div th:insert="../components/nav :: navBar"></div>
	<div th:insert="../components/nav :: sideNav"></div>

	<div class="addForm">
		<form data-formName="Add Team" th:action="@{/saveTeam}" method="post" th:object="${team}">
			<div>
				<input type="text" th:field="*{teamName}" placeholder="Enter Team Name" required="required" />
				<label for="name">Name</label>
				<label th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"
					style="color: red;">Error</label>
			</div>

			<div>
				<label for="depts">Select Department</label> <select th:field="*{departmentName}">
					<option th:each="d : ${deptNameList}" th:value="${d}" th:text="${d}"></option>
				</select>
				<p th:text="${selectDept}"></p>
			</div>
			<div>
				<input type="submit" value="Add" />
				<ion-icon name="add-outline"></ion-icon>
			</div>
		</form>
		<div class="backgroundExit" onclick="generateTeamBox()"></div>
	</div>

	<div class="tableBox teamTableBox">
		<div class="searchBox">
			<h2>Team</h2>
			<form th:action="@{/searchTeam/1}" th:object="${team}">
				<input type="hidden" name="sortField" th:value="${sortField}" />
				<input type="hidden" name="sortDir" th:value="${sortDir}" />
				<input type="text" name="keyword" th:value="${keyword}" placeholder="Enter Keyword" />
				<button type="submit"><ion-icon name="search-outline"></ion-icon></button>
				<a th:href="@{/team}"><ion-icon name="refresh-outline"></ion-icon></a>
				<div onclick="generateTeamBox()"><ion-icon name="add-outline"></ion-icon></div>
			</form>
		</div>

		<div class="data-table-box">
			<div class="data-table">
				<div class="data-table-row">
					<div class="data-table-col">ID</div>
					<div class="data-table-col">
						<a class="sort-button"
							th:href="@{'/searchTeam/' + ${currentPage} + '?sortField=' + ${sortField} + '&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
							Code<ion-icon name="funnel-outline"></ion-icon>
						</a>
					</div>
					<div class="data-table-col">
						<a class="sort-button"
							th:href="@{'/searchTeam/' + ${currentPage} + '?sortField=teamName&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
							Name<ion-icon name="funnel-outline"></ion-icon>
						</a>
					</div>
					<div class="data-table-col">
						<a class="sort-button"
							th:href="@{'/searchTeam/' + ${currentPage} + '?sortField=department.departmentName&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
							Department<ion-icon name="funnel-outline"></ion-icon>
						</a>
					</div>
					<div class="data-table-col">Options</div>
				</div>
				<div class="data-table-row" th:each="team : ${teams}">
					<div class="data-table-col" th:text="${index + teamStat.index}"></div>
					<div class="data-table-col" th:text="${team.teamCode}"></div>
					<div class="data-table-col" th:text="${team.teamName}"></div>
					<div class="data-table-col" th:text="${team.department.departmentName}"></div>
					<div class="data-table-col"><a class="action-button"
							th:href="@{/updateTeam(id=${team.teamId})}">Action</a></div>
				</div>
			</div>
		</div>

		<div class="pagination">
			<div>Total Teams: <span class="pagenum">[[${totalTeams}]]</span> - Page <span
					class="pagenum">[[${currentPage}]] </span>of <span class="pagenum">[[${totalPages}]]</span></div>

			<div class="page-reference">
				<a th:if="${currentPage > 1}"
					th:href="@{'/searchTeam/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
				<span th:unless="${currentPage > 1}">First</span>

				<a th:if="${currentPage > 1}"
					th:href="@{'/searchTeam/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}"><ion-icon
						name="chevron-back-circle-outline"></ion-icon></a>
				<span th:unless="${currentPage > 1}"><ion-icon name="chevron-back-circle-outline"></ion-icon></span>

				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<a th:if="${i != currentPage}"
						th:href="@{'/searchTeam/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}">[[${i}]]</a>
					<span th:unless="${i != currentPage}">[[${i}]]</span>
				</span>

				<a th:if="${currentPage < totalPages}"
					th:href="@{'/searchTeam/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}"><ion-icon
						name="chevron-forward-circle-outline"></ion-icon></a>
				<span th:unless="${currentPage < totalPages}"><ion-icon
						name="chevron-forward-circle-outline"></ion-icon></span>

				<a th:if="${currentPage < totalPages}"
					th:href="@{'/searchTeam/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
				<span th:unless="${currentPage < totalPages}">Last</span>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function clearFilter() {
			window.location = '/team';
		}
	</script>

</body>

</html>